<!DOCTYPE html>
<html>
	<head>
		<title>A website</title>
	</head>
	<body>
		{{#if user}}
			<p>
				Hello {{user.displayName}}
				|
				<a href="/logout">Logout</a>
			</p>
		{{else}}
			<p>
				<a href="/auth/linkedin">Login</a>
			</p>
		{{/if}}
	</body>
</html>
